{% extends "base.html.twig" %}

 {% block home %}
     {% block title %}VenteBundle:Livraison:delete{% endblock %}

     {% block body %}
      <h1>Welcome to the Livraison:delete page</h1>
     {% endblock %}
 {% endblock home %}