{% extends "base.html.twig" %}

 {% block home %}
     {% block title %}VenteBundle:Panier:delete{% endblock %}

     {% block body %}
      <h1>Welcome to the Panier:delete page</h1>
     {% endblock %}
 {% endblock home %}